
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérification du code</title>
    <link rel="stylesheet" href="{% static 'myapp/css/double_auth.css' %}">
    <script>
        var startTimer = "{{ start_timer|default:False }}";

        function startCountdown(duration) {
            var countdown = document.getElementById('countdown');
            var timeLeft = duration;

            var interval = setInterval(function() {
                var minutes = Math.floor(timeLeft / 60);
                var seconds = timeLeft % 60;
                countdown.textContent = minutes + ":" + (seconds < 10 ? '0' + seconds : seconds);

                timeLeft--;

                if (timeLeft < 0) {
                    clearInterval(interval);
                    countdown.textContent = "Le code a expiré. Renvoyez un nouveau code.";
                }
            }, 1000);
        }

        window.onload = function() {
            if (startTimer === "True") {
                startCountdown(120);
            }
        };
    </script>
</head>
<body>
    <div class="container">
        <h2>Vérification du code</h2>
        <p>Cliquer sur le bouton renvoyer pour  <span class="highlight-green">confirmer que c'est bien vous!</span><p style="color: rgb(175, 174, 174);">Celui-ci est composé de 6 chiffres.</p></p>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="code" maxlength="6" placeholder="Entrez le code" />

            <div>
                <button class="btn-email" type="submit" name="send_code">Renvoyer</button>
                <button class="btn-validate" type="submit" name="validate_code">Valider</button>
            </div>

        </form>

        <p id="countdown"></p>
    </div>
</body>
</html>
