<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Page de Discussion{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style_message.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style_acceuil.css' %}">
</head>
<body>
    <header>
    {% include 'layout/sidebar_acc.html' %}
        {% include 'layout/navbar_admin.html' %}
    </header>
        <div class="content-wrapper">
            <main class="main-content">
    <h1>Messages Non Lus</h1>
        <ul class="message-list">
            {% for message in messages_non_lus %}
                <li>
                    <a style=" text-decoration: none;" href="{% url 'view_message' message.id %}" class="message-content">
                        <p><strong>{{ message.id_contribuable.nom }}</strong>: {{ message.contenu }} </p>
                        <br>
                        
                        {% if message.fichier_joint %}
                            <a href="{{ message.fichier_joint.url }}" target="_blank" class="icon-file">
                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                       
                    </a>
                </li>
            {% endfor %}
        </ul>        
 </div>
    </div>
</body>
</html>