{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>{% block title %}Page de Discussion{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style_message.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style_acceuil.css' %}">
    <style>
      
    </style>
</head>
<body>
    <header>
    {% include 'layout/sidebar_acc.html' %}
    {% include 'layout/navbar_admin.html' %}

    </header>
    <div class="page-container">
        <!-- Sidebar et contenu principal côte à côte -->
        <div class="content-wrapper">
            <main class="main-content">
<div class="container">
  
    <h1>Discussions</h1>

    <!-- <div class="container" id="discussionContainer"> -->
        {% for message in messages %}
        <div class="message {% if message.type_message == 'contribuable' %}message-contribuable{% else %}message-operator{% endif %}">
            <div class="message-info" 
                {% if message.type_message == 'operateur' %} style="justify-content: flex-end;" {% else %} style="justify-content: flex-start;" {% endif %}>
                {% if message.type_message == 'contribuable' %}
                <img src="{{ message.id_contribuable.photo.url }}" alt="Photo de {{ message.id_contribuable.nom }}">
                <span>{{ message.id_contribuable.nom }}</span>

                {% else %}
                <span>Opérateur</span>
                <i class="fa fa-user-circle" style="font-size: 30px; margin-left: 10px;"></i>  <!-- Espacement avec margin-left -->
            {% endif %}
            </div>
            <p>{{ message.contenu }}</p>
            <!-- Affichage du fichier joint s'il existe -->
            {% if message.fichier_joint %}
            <a href="{{ message.fichier_joint.url }}" target="_blank" class="icon-file">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
            </a>
            {% endif %}
    
            <!-- Affichage de la date d'envoi -->
            <hr>
            <span class="message-date {% if message.type_message == 'contribuable' %}date-contribuable{% else %}date-operator{% endif %}">
                {{ message.date_envoi }}
            </span>
        </div>
        {% endfor %}
    </div>
    
                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="message-input">
                        <div class="textarea-file">
                            <!-- Textarea à gauche -->
                            <textarea placeholder="Écrivez votre message ici..." name="contenu" required></textarea>
                            
                            <!-- Input fichier à droite -->
                            <input type="file" name="fichier_joint" accept=".pdf,.jpg,.png">
                        </div>
                        
                        <!-- Bouton envoyer en icône à gauche -->
                        <button class="btn-envoyer" type="submit">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </div>
                    
                </form>
                
            </main>
            
        </div>
    </div>
    
</body>
</html>
