{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <title>Sidebar Droite</title>
  <link rel="stylesheet" href="{% static 'myapp/css/sidebar.css'%}">
  <link rel="stylesheet" href="{% static 'myapp/css/style_logo.css'%}">
</head>
<body>
    <div class="logo-container">
        <img src="{% static 'myapp/images/LOGO monochrome MEF_DGI.png'%}" alt="Logo">
      </div>
  <!-- Barre de navigation -->
  <div class="sidebar">
    <a href="https://immatriculation-prenif.onrender.com/accueils/" class="sidebar-item">
        <i class="fas fa-home"></i>
      </a>
      <a href="https://immatriculation-prenif.onrender.com/home/" class="sidebar-item">
        <i class="fas fa-user-plus"></i>
      </a>
  </div>
  <div class="main-content">
    <div class="container">
        <div class="content-div">
            <h1 class="animated-title">
              Nouvelle plateforme
              <br>
              d'immatriculation fiscale
              <br> pour l' obtention d'un PRENIF
            </h1>
            <button class="action-button" onclick="window.location.href='https://immatriculation-prenif.onrender.com/home/';">S' immatriculer </button>
        </div>
        <div class="image-div">
            <center>
            <img src="{% static 'myapp/images/Logo-DGI.jpg'%}" alt="Logo">
            </center>
        </div>
    </div>
  </div>
  <script>
    // Fonction pour réinitialiser l'animation
function restartAnimation() {
    var animatedTitle = document.querySelector('.animated-title');
    // Réinitialiser l'animation en retirant et réajoutant la classe
    animatedTitle.style.animation = 'none'; // Retirer l'animation
    animatedTitle.offsetHeight; // Forcer le reflow
    animatedTitle.style.animation = ''; // Réappliquer l'animation
}

// Appeler la fonction de réinitialisation lorsqu'on revient sur la section
document.querySelector('.content-div').addEventListener('mouseenter', function() {
    restartAnimation(); // Relancer l'animation à chaque passage de souris sur la section
});

  </script>
</body>
</html>
