{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Page d'Accueil{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style_acceuil.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/list_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
.highlight-red {
  background-color: rgba(255, 0, 0, 0.1); 
}

.highlight-green {
  background-color: rgba(0, 255, 0, 0.1); 
}
  </style>
</head>
<body>
    <header>
        {% include 'layout/navbar_Cte.html' %}
    </header>
    <div class="page-container">
        <div class="content-wrapper">
            <aside class="sidebar">
                {% include 'layout/sidebar_acceuil.html' %}
            </aside>
            <main class="main-content">
                <div class="container">
                    <form action="{% url 'filtre_list_transaction' %}" method="GET">
                        <div class="search-container">
                            <input type="number" id="min" name="min" placeholder="MIN" value="{{ request.GET.min }}">
                            <input type="number" id="max" name="max" placeholder="MAX" value="{{ request.GET.max }}">
                            <button id="search-btn" type="submit">Rechercher</button>
                        </div>
                    </form>
                    <h2>Suivi des paiements</h2>
                    {% if transactions %}
    <table>
        <thead>
            <tr>
                <th>N° QUITTANCE</th>
                <th>IMPOTS</th>
                <th>Lieu et libelle BUREAU</th>
                <th>MNT à PAYER</th>
                <th>PAYEE</th>
                <th>RES à PAYER</th>
                <th>Détail paiement</th>
                <th>Télécharger PDF</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.7 }}</td>
                <td>{{ transaction.5 }}</td>
                <td>{{ transaction.2 }}_{{ transaction.1 }} </td>
                <td>{{ transaction.8|intcomma }} .Ar</td>
                <td>{{ transaction.9|intcomma }} .Ar</td>
                <td class="{% if transaction.10 > 0 %}highlight-red{% elif transaction.10 == 0 %}highlight-green{% endif %}">
                    {{ transaction.10|intcomma }} .Ar
                  </td>
                  
                  
                <td>
                    {% if transaction.8 %}
                    <a href="{% url 'transaction_detail' transaction.7 transaction.9|floatformat:2 transaction.10|floatformat:2 %}" class="btn">transactions</a>
                    {% else %}
                        <span>Numéro de quittance manquant</span>
                    {% endif %}
                </td>
                <td>
                    {% if transaction.8 %}
                    <button 
                        class="btn-icon download-pdf" 
                        data-url="{% url 'transaction_detail' transaction.7 transaction.9|floatformat:2 transaction.10|floatformat:2 %}" 
                        data-id="{{ transaction.7 }}" 
                        data-payee="{{ transaction.9|floatformat:2 }}" 
                        data-reste="{{ transaction.10|floatformat:2 }}">
                        <i class="fas fa-download"></i>
                    </button>

                    {% else %}
                    <span>Numéro de quittance manquant</span>
                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if transactions.has_previous %}
                <a href="?page=1"><i class="fas fa-angle-double-left"></i></a>
                <a href="?page={{ transactions.previous_page_number }}"><i class="fas fa-chevron-left"></i></a>
            {% endif %}
        
            <span style="font-weight: bold; color: #717477;">Page {{ transactions.number }} sur {{ transactions.paginator.num_pages }}</span>
        
            {% if transactions.has_next %}
                <a href="?page={{ transactions.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
                <a href="?page={{ transactions.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
            {% endif %}
        </span>
    </div>
            {% else %}
                <p>Aucune transaction trouvée avec les critères de recherche spécifiés.</p>
            {% endif %}
                </div>
            </main>
        </div>
    </div>
    <footer>
        {% include 'layout/footer_acceuil.html' %}
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.download-pdf').forEach(button => {
        button.addEventListener('click', () => {
            const transactionDetailUrl = button.getAttribute('data-url');
            const baseUrl = window.location.origin; // Récupère l'URL de base (http://127.0.0.1:8000)
            const fullUrl = baseUrl + transactionDetailUrl;

            console.log("URL complète de la transaction :", fullUrl);

            fetch(fullUrl)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erreur lors du chargement des détails.');
                    }
                    return response.text();
                })
                .then(htmlContent => {
                    console.log('Contenu retourné :', htmlContent);
                    const tempDiv = document.createElement('div');
                    tempDiv.innerHTML = htmlContent;

                    const elementToCapture = tempDiv.querySelector('#container_telecharger');

                    if (elementToCapture) {
                        setTimeout(() => {
                            const options = {
                                margin: 0.5,
                                filename: `transaction_${button.getAttribute('data-id')}.pdf`,
                                image: { type: 'jpeg', quality: 0.98 },
                                html2canvas: { scale: 2 },
                                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                            };

                            html2pdf().set(options).from(elementToCapture).save();
                        }, 1000); 
                    } else {
                        alert('Détails introuvables pour la transaction.');
                    }
                })
                .catch(error => {
                    console.error('Erreur:', error);
                    alert('Une erreur est survenue lors du téléchargement.');
                });
        });
    });
});
</script>
</body>
</html>