<div id="photo-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-button" onclick="closePhotoModal()">&times;</span>
        <h2>Modifier votre photo</h2>
        <form method="post" enctype="multipart/form-data" action="{% url 'modifier_photo_profil' %}">
            {% csrf_token %}
            <label for="photo">Choisissez une nouvelle photo :</label>
            <input type="file" name="photo" id="photo" accept="image/*" required>
            <button type="submit" class="btn-submit">Enregistrer</button>
        </form>
    </div>
</div>
