<!-- pdf_template.html -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Détails de la Transaction {{ n_quit }}</title>
    <style>
        /* Styles pour le PDF */
        body { font-family: Arial, sans-serif; }
        h1 { color: #333; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
        th { background-color: #f0f0f0; }
        .title-cell {
            font-weight: bold; /* Met le texte en gras */
            color: black;      /* Définit la couleur du texte en noir */
        }
        .color-red {
            color: red; /* Applique une couleur rouge au texte */
        }
    </style>
</head>
<body>
    <h1>Détails de la Transaction {{ n_quit }}</h1>
    <table class="details-table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Valeur</th>
            </tr>
        </thead>
        <tbody>
            {% if transaction_details %}
                {% for transaction in transaction_details %}
                    {% if forloop.first %}
                    <tr>
                        <td class="title-cell">Numéro quittance</td>
                        <td>{{ transaction.1 }}</td>
                    </tr>
                        <tr>
                            <td class="title-cell">Base</td>
                            <td>{{ transaction.7 }} .Ar</td>
                        </tr>
                        <tr>
                            <td class="title-cell">Montant à Payer</td>
                            <td>{{ transaction.8 }} .Ar</td>
                        </tr>
                        <tr>
                            <td class="title-cell">Numéro impôt</td>
                            <td>{{ transaction.11 }}</td>
                        </tr>
                        <tr>
                            <td class="title-cell">Impôt</td>
                            <td>{{ transaction.12 }}</td>
                        </tr>
                        <tr>
                            <td class="title-cell">Impôt Détail</td>
                            <td></td><!-- <td>{{ transaction.10 }}</td> -->
                        </tr>
                        <tr>
                            <td class="title-cell">Logiciel</td>
                            <td>{{ transaction.14 }}</td>
                        </tr>
                        <tr>
                            <td class="title-cell">Date de recouvrement</td>
                            <td>{{ transaction.4 }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">Aucun résultat trouvé.</td>
                </tr>
            {% endif %}
        </tbody>
           </table>
</div>
<br>

<!-- Tableau des transactions -->
<div class="container">
    <table class="transaction-table">
        <thead>
            <tr>
                <th>Date de Paiement</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            {% if transaction_details %}
                {% for transaction in transaction_details %}
                    <tr>
                        <td class="{% if transaction.3 > transaction.4 %}color-red{% endif %}">{{ transaction.2 }}</td>
                        <td>{{ transaction.15 }}</td>
                    </tr>
                {% endfor %}
            {% else %}
          
        
            {% endif %}
            <tr>

                <td style="background-color: rgb(115, 148, 115); color: white;" >Total renversé.</td>
                <td style="background-color: rgb(115, 148, 115); color: white;" >1 200 000 .Ar</td>
            </tr>
            <tr>
               
                <td style="background-color:rgb(173, 119, 119);color: white;" >Reste à payer.</td>
                <td style="background-color: rgb(173, 119, 119); color: white;" >40 000 .Ar</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
