{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Page d'Accueil{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myapp/css/chart_style.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style_acceuil.css' %}">
</head>
<body>
    <header>
        {% include 'layout/navbar_Cte.html' %}
    </header>
    <div class="page-container">
        <div class="content-wrapper">
            <aside class="sidebar">
                {% include 'layout/sidebar_acceuil.html' %}
            </aside>
            <main class="main-content">
                <h2>Historique de transaction</h2>
                <div class="container">
                    <div class="chart-wrapper">
                        <canvas id="transactionsChart" height="300"></canvas>
                    </div>
                    <div class="chart-details">
                        <table id="detailsTable">
                            <thead>
                                <tr>
                                    <th  style="color: gray;  font-weight: bold;">Année</th>
                                    <th style="color: gray;  font-weight: bold;">Montant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Les lignes de données seront ajoutées ici par JavaScript -->
                            </tbody>
                        </table>
                        
                           </div>
                </div>
            </main>
        </div>
    </div>
    <footer>
        {% include 'layout/footer_acceuil.html' %}
    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Récupérer les données depuis le backend
    const sommes = JSON.parse('{{ sommes|safe }}');  // `sommes` est maintenant en JSON.
    const labels = sommes.map(s => s.annee); // Extraire les années comme étiquettes
    const dataMontants = sommes.map(s => s.total_mnt_ver); // Extraire les montants pour les données
    const detailsTableBody = document.getElementById('detailsTable').querySelector('tbody');

// Remplir le tableau avec les données de `sommes`
sommes.forEach(item => {
    const row = document.createElement('tr'); // Créer une nouvelle ligne de tableau
    
    const anneeCell = document.createElement('td');
    const montantCell = document.createElement('td');
    
   
    anneeCell.textContent = item.annee;
    montantCell.textContent = item.total_mnt_ver;
    
    // Ajouter les cellules à la ligne
  
    row.appendChild(anneeCell);
    row.appendChild(montantCell);
    
    // Ajouter la ligne au tableau
    detailsTableBody.appendChild(row);
});

    // Initialiser le graphique
    const ctx = document.getElementById('transactionsChart').getContext('2d');
    const transactionsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Montant des achats',
                data: dataMontants,
                backgroundColor: [
                    '#FEE3C2', // jaune clair
                    '#e46969', // rouge clair
                    '#7bb46d', // vert clair
                    '#b3b3b3', // bleu-vert clair
                    '#b3d9da', // bleu clair
                    '#FEE3C2', // jaune clair
                    '#e46969', // rouge clair
                    '#7bb46d', // vert clair
                    '#3eb4b1', // bleu-vert clair
                    '#b3d9da', // bleu clair
                    '#f0c75e', // jaune clair
                    '#e75d5e', // rouge clair
                    '#5ac46a', // vert clair
                    '#3eb4b1', // bleu-vert clair
                    '#b3d9da', // bleu clair

                    'rgba(255, 159, 177, 0.2)',
                    'rgba(143, 58, 72, 0.2)',
                    'rgba(122, 232, 145, 0.2)',
                    'rgba(255, 159, 177, 0.2)',
                    'rgba(143, 58, 72, 0.2)',
                    'rgba(122, 232, 145, 0.2)',
                    'rgba(255, 159, 177, 0.2)',
                    'rgba(143, 58, 72, 0.2)',
                    'rgba(122, 232, 145, 0.2)'
            
                ],
                borderColor: [
                    '#FEE3C2', // jaune clair
                    '#e75d5e', // rouge clair
                    '#5ac46a', // vert clair
                    '#3eb4b1', // bleu-vert clair
                    '#b3d9da', // bleu clair
                    '#f0c75e', // jaune clair
                    '#e75d5e', // rouge clair
                    '#5ac46a', // vert clair
                    '#3eb4b1', // bleu-vert clair
                    '#b3d9da', // bleu clair
                    '#f0c75e', // jaune clair
                    '#e75d5e', // rouge clair
                    '#5ac46a', // vert clair
                    '#3eb4b1', // bleu-vert clair
                    '#b3d9da', // bleu clair

                    'rgba(255, 159, 177, 1)',
                    'rgba(143, 58, 72, 1)',
                    'rgba(122, 232, 145, 1)',
                    'rgba(255, 159, 177, 1)',
                    'rgba(143, 58, 72, 1)',
                    'rgba(122, 232, 145, 1)'
                ],
     borderWidth: 1
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio: false,
        }
    });
</script>
</html>
